<div class="container">
  <h1>Welcome to Emily's Blog Site</h1>
  <p>Below I have a list of all of the posts you can brows through. Enjoy</p>

  <h2> This will be a drop down of all post names </h2>
  <a href="/post">This is the link to one Post</a>
  <h3>This will be a way to select by date</h3>

  <h2>This will be a drop down or a list of all tag names</h2>

  <form action="post_form" id ="post">
    Title:<input type="text" name="title">
    <input type = "submit">
  </form>



  <select>
    <option value="post1">title of post1</option>
    <option value="post2">title of post2</option>
  </select>
  

   <tbody>

      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><a href="/posts/<%= post.id %>"><%= post.name %></a></td>
        </tr>
      <% end  %>



    </tbody>
