<h1><%=@post.title%></h1>
  <h3>Created At : <%=@post.created_at%>
  
  <br>
    Updated At: <%=@post.updated_at%></h3>

  

  <div class="posts">
    <ol>
    <li>Here willl be a list of all posts affiliated with list </li>
   
