<h1><%=@post.title%></h1>
  <h3>Created At : <%=@post.created_at%>
  
  <br>
    Updated At: <%=@post.updated_at%></h3>

  

  <div class="posts">
    <ul> 
      <%@post.tags.each do |tag| %>
      <ul><li><a href= "/tags/<%tag.id%>"><%=tag.title %></a></li></ul>
      <%end%>
    </ul>
  </div> <!-- posts -->


   

